.c-item {
    height: 90vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.c-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
}

.carousel-caption h1 {
    font-size: 54px;
}

.carousel-caption p {
    font-size: 18px;
    text-align: justify !important;
}

.iflow-dsc {
    max-width: 50rem;
}

.radial-bar {
    width: 50px;
    height: 50px;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    border: 4px solid #ffc107;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-number {
    font-size: 20px;
}

.genres {
    display: flex;
    gap: 10px;
}

.genre {
    background-color: #ffc107;
    border: 2px solid #ffc107;
    padding: 5px 10px;
    align-self: center;
    border-radius: 16px;
    font-size: 14px;
    color: #000;
}

.genre.last {
    margin-right: 0;
}

.movie-covers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.movie-cover {
    overflow: hidden;
}

.movie-cover img {
    width: 100%;
    height: auto;
    display: block;
}